@font-face 
{
  font-family: 'BerlinSansFBRegular';
  src:  url('../Berlin Sans FB Regular.ttf') format('truetype');
}
h1
{
	text-align: center;
	background-color: #750000;
	color: #D70000;
}
body
{
	width:80em;
	height:100%;
	text-align:center;
	margin: 0 auto;
	background: rgb(71,38,9);
	background: linear-gradient(0deg, rgba(71,38,9,1) 23%, rgba(230,126,34,1) 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family : "BerlinSansFBRegular";
}
#link
{
	text-align: center;
	font-size: 25px;
}
p
{
	color: #000000;
}
a
{
	color: #00000055;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
a:hover
{
	color: #000000;
	font-size: 26px;
	text-decoration: none;
}